button {
  border:none;
  color: white;
  padding: 1em 3.5em;
  border-radius: 10px;
  margin: 1em 0;
}

.continueButton {
  background: linear-gradient(to left, $cyan, $lightblue);
  &:hover {
    background: linear-gradient(to left, $blue, $lightblue);
  }
}