@font-face {
  font-family: 'HeeboLight';
  src: url("./fonts/Heebo-Light.ttf") format("truetype");
}

@font-face {
  font-family:'HeeboMedium';
  src: url("./fonts/Heebo-Medium.ttf") format("truetype");
}
@font-face {
  font-family:'HeeboBold';
  src: url("./fonts/Heebo-Bold.ttf") format("truetype");
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

::-webkit-scrollbar{
  display:none;
}

$blue: #687bf7;
$lightblue: #72d9ef;
$cyan: #79e7eb;
$breakpoint-tablet: 768px;



body {
  font-size: 1em;
  font-family:"HeeboLight";
//  @media (min-width: 900px) {
//   font-size: 2e;
//  }
}

h1, h2{
  text-align: center;
  padding-bottom:.5em;
  font-size: 1.5em;
}

h1 {
  font-family: "HeeboBold";
}

a {
  display:block;
  text-align: center;
  text-decoration: none;
  color:$blue;
  padding:.5em;
  &:hover {
    color: $lightblue;
  }
}

button {
  border:none;
  color: white;
  padding: 1em 3.5em;
  border-radius: 10px;
  margin: 1em 0;
}

input {
  padding: 1em 3.5em;
  margin-bottom: 1em;
  text-align: center;
  &::placeholder {
    text-align: center;
  }
}

.tokenContainer {
  display:flex;
  align-items: center;
  justify-content: center;
  height:500px;
}

.mainContainer {
  max-width: 800px;
  margin: 0 auto;
  
}

.expandedView {
  display:flex;
  justify-content: center;
}

.defaulview {
  display:block;
}

.activeButton {
  background: linear-gradient(to left, $cyan, $lightblue);
  color: white;
}

.noIssuesMessage {
  text-align: center;
  font-size: 1.5em;
  margin-top: 2em;
}


section {
//  max-width: 15em;
//  margin: 10vh auto 0;
 background: whitesmoke;
 padding: 0.5em 1em;
 border-radius: 0.5em;
 box-shadow: 4px 4px 50px rgba($blue, 0);
 transition: box-shadow 100ms linear;
}

ul {
 margin: 0;
 padding: 0;
 list-style: none;

 .repoListItem {
  cursor: pointer;
 }

 li {
  display: flex;
  align-items: center;
  cursor: move;
  line-height: 1;
  margin-bottom: .5em;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  padding: 1em;
  background:white;
  
  &.dropArea {
   color: white !important;
   background: white !important;
   position: relative;

   &::before {
    content: "Drop Here";
    color: $blue;
    font-size: 0.5em;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    border: 2px dashed $blue;
    border-radius: 3px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   span {
    display: none;
   }

   p {
    margin-left: 1em;
   }
  }

  &:hover {
   background: linear-gradient(to left, $blue, $lightblue);
   color: white;

   span {
    background-color: $cyan;
   }
  }

  p {
   transition: margin-left 50ms ease-in-out;
  }

  i {
   margin-left: auto;
   margin-right: 1em;
  }

  .issue-number{
   display: inline-block;
   margin-right: 1em;
   background-color: $lightblue;
   width: 2em;
   height: 2em;
   border-radius: 50%;
   display: grid;
   place-items: center;
   color: white;
   font-weight: bold;
   transition: background-color 100ms linear;
  }

  .issue-details-wrapper {
    width:100%;
   }

   .avatar-title-wrapper {
     display:flex;
     padding-bottom: 1em;
   }

   .issue-title-wrapper {
    margin-left: 1em;
   }
  
  .repo-name {
    padding-bottom: .5em;
    color: grey;
    font-size: 0.75em;
  }

  .issue-title {
    font-family: "HeeboMedium";
  }

  .dates-wrapper {
    display:flex;
    justify-content:space-between;
    font-size: .75em;
  }
  
 }
}
.floatingContainer {
  position: sticky;
  top: 0;
}
.orderInstructions {
  text-align: center;
  margin-bottom:1em;
}

.continueButton {
  background: linear-gradient(to left, $cyan, $lightblue);
  &:hover {
    background: linear-gradient(to left, $blue, $lightblue);
  }
}
.tokenWrapper {
  text-align: center;
}

.tokenInputWrapper {
  display:flex;
  flex-direction: column;
}

@media (max-width: $breakpoint-tablet) {
  .expandedView {
    display:block;

    ul {
      height: 44vh;
      overflow: scroll;
    }
  }
}